<p id="notice"><%= notice %></p>


<!-- #======== Google API Starts ========== -->
<%= render partial: 'google_api', locals: {  } %>
<!-- #======== Google API Ends ========== -->


<h1 class="text-center">Sage Data Force</h1>



<%#= link_to "Franchiser", franchiser_btn_path, class: 'btn btn-lg btn-warning' %>


<!-- <h2>POWER BUTTONS  - Starts</h2> -->

<!-- Clean Domainer Button -->
<%#= link_to "Clean Gcse", gcse_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Solitary Button -->
<%#= link_to "Clean Solitary", solitary_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Core Button -->
<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Auto Match Button -->
<%#= link_to "Auto Match", auto_match_btn_path, class: 'btn btn-warning' %>

<!-- <h2>POWER BUTTONS - Ends</h2> -->

<%= link_to "Solitary Migrator", solitary_migrator_path, class: 'btn btn-warning' %>
