<p id="notice"><%= notice %></p>


<!-- #======== Google API Starts ========== -->
<%= render partial: 'google_api', locals: {  } %>
<!-- #======== Google API Ends ========== -->


<h1 class="text-center">Sage Data Force</h1>

<h3>Power Buttons</h3>
<div class="">
<%#= link_to "Geo Update Migrate", geo_update_migrate_btn_path, class: 'btn btn-warning' %>

<%= link_to "Core Updater", franchiser_btn_path, class: 'btn btn-warning' %>

</div><br>

<div class="">
<%#= link_to "Column Splitters", col_splitter_btn_path, class: 'btn btn-warning' %>

<%#= link_to "Staffer SFDC ID Cleaner", staffer_sfdc_id_cleaner_btn_path, class: 'btn btn-warning' %>

<%#= link_to "Indexer Staff SFDC Columns Cleaner", indexer_staff_cleaner_btn_path, class: 'btn btn-warning' %>

<%#= link_to "Indexer Location SFDC Columns Cleaner", indexer_location_cleaner_btn_path, class: 'btn btn-warning' %>

<%#= link_to "Clean Gcse", gcse_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<%#= link_to "Clean Solitary", solitary_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<%#= link_to "Auto Match", auto_match_btn_path, class: 'btn btn-warning' %>

<%#= link_to "Solitary Migrator", solitary_migrator_path, class: 'btn btn-warning' %>

<%= link_to "Geo Starter", geo_starter_btn_path, class: 'btn btn-warning' %>

</div>
