<div class="pull-right">
    <%= link_to 'Add Record', new_core_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary' %>
</div>
