<h1 class="page-header">Core Accounts</h1>


<%= form_tag "/cores", method: :get, class: 'form-inline'  do %>


 <h3 class="section-header">Core Filter</h3>
    <%= render partial: 'filter', locals: {  } %>
    <%= submit_tag "Submit", class: 'btn btn-success' %>




<h1>New List View Partial Starts Here</h1>
<%= render partial: 'list_view', locals: {  } %>
<h1>New List View Partial Ends Here</h1>



 <h1> class="section-header">New Detailed View Starts Here</h1>
    <%#= render partial: 'detailed_view', locals: { core: core, num: num } %>
<h1>New Detailed View Partial Ends Here</h1>


<% end %> <!-- Filter Headers Form tag ends -->
