<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @in_suffix_del.term %>
</p>

<%= link_to 'Edit', edit_in_suffix_del_path(@in_suffix_del) %> |
<%= link_to 'Back', in_suffix_dels_path %>
