<div id="admin-starter" class="scr-prof-net scr-prof">
    <table class="table table-bordered no-wrap">
        <tr><th colspan="2">Power Buttons</th></tr>
        <tr>
            <td>Description...</td>
            <td>
                <%= link_to dashboard_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Dashboard Power
                <% end %>
            </td>
        </tr>
        <tr>
            <td>Description...</td>
            <td>
                <%= link_to indexer_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Indexer Power
                <% end %>
            </td>
        </tr>
        <tr>
            <td>Description...</td>
            <td>
                <%= link_to location_power_btn_path, class: 'btn btn-orange btn-xs btn-width' do %>
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Geo Power Button
                <% end %>
            </td>
        </tr>
    </table>
</div><br>
