<h3>Basic</h3>
<%= render partial: 'table', locals: { users: @basic_users } %>

<h3>Intermediate</h3>
<%= render partial: 'table', locals: { users: @intermediate_users } %>

<h3>Advanced</h3>
<%= render partial: 'table', locals: { users: @advanced_users } %>

<h3>Admin</h3>
<%= render partial: 'table', locals: { users: @admin_users } %>
