<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @criteria_indexer_staff_text.term %>
</p>

<%= link_to 'Edit', edit_criteria_indexer_staff_text_path(@criteria_indexer_staff_text) %> |
<%= link_to 'Back', criteria_indexer_staff_texts_path %>
