<h1>Editing Pending Verification</h1>

<%= render 'form', pending_verification: @pending_verification %>

<%= link_to 'Show', @pending_verification %> |
<%= link_to 'Back', pending_verifications_path %>
