<p id="notice"><%= notice %></p>


<h1 class="text-center">Dashboards</h1>
<br>

<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
    <div class="row" style="width: 95%; margin: auto;">
        <h3 class="section-header">Accounts Summary</h3>


<!-- STATS FORMULAS FOR FUTURE USE -  Starts -->
<%#= number_with_delimiter(@core_all) %>
<%#= @domainer_query_count %>
<%#= percent_format(@domainer_query_count, @core_all) %>
<%#= @domainer_query_count %>
<%#= @core_dom_result_count %>
<%#= percent_format(@core_dom_result_count, @domainer_query_count) %>
<%#= @core_matched_count %>
<%#= percent_format(@core_matched_count, @domainer_query_count) %>
<%#= @core_no_matches_count %>
<%#= percent_format(@core_no_matches_count, @domainer_query_count) %>
<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>
<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>
<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>
<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>
<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>
<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>
<!-- STATS FORMULAS FOR FUTURE USE -  Ends -->

<!-- <%= link_to "Core Anything Btn", anything_btn_path, class: 'btn btn-lg btn-warning' %> -->
