<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <% if admin_only %>
            <%= link_to 'Add Record', new_staffer_path, class: 'btn btn-primary' %>
            <%= link_to 'Import CSV', staffer_import_page_path, class: 'btn btn-primary' %>
            <% end %>
            <% if advanced_and_up %>
            <%= link_to 'Download CSV', staffers_path(format: "csv"), class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div><br>

