<h3 class="section-header">Contact Profiles - Detailed View</h3>
<h4>Selected Contacts: <%= number_with_delimiter(@selected_staffer_count) %></h4>
<p>Detailed view shows less (than list view), but WILL be attached to account detailed view.</p>

<%= render partial: 'buttons' %>

<% urls = [] %>
<% @staffers.each do |staffer| %>
    <% domain = staffer.domain %>
    <% if !urls.include?(domain) %>
        <% urls << domain %>
        <%= render partial: 'cores/detailed_view', locals: { core: Core.find_by(sfdc_clean_url: domain), num: "" } %>
        <%= render partial: 'core_staffs', locals: { staffers: Staffer.where(domain: domain) } %>
    <% end %>
<% end %>