<h1 class="page-header">Contacts</h1>

<%= form_tag "/staffers", method: :get, class: 'form-inline'  do %>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- CONTACTS - LIST VIEW PARTIAL -->
<%= render partial: 'list_view' %>

<!-- CONTACTS - DETAILED VIEW PARTIAL -->
<%= render partial: 'detailed_view' %>



<!-- IMPORTANT END TO FORM - EVERYTHING MUST BE IN HERE. -->
<% end %>
<!-- Filter Headers Form tag ends -->
