<h1>Editing Criteria Indexer Staff Href</h1>

<%= render 'form', criteria_indexer_staff_href: @criteria_indexer_staff_href %>

<%= link_to 'Show', @criteria_indexer_staff_href %> |
<%= link_to 'Back', criteria_indexer_staff_hrefs_path %>
