/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */

// .geo-map-container {
//     position: fixed;
//     margin-bottom: 900px;
// }

a:visited {
    color: #337ab7;
}

footer {
    padding: 50px 30px;
    font-size: 95%;
    text-align: center;
}

.theme-blue {
    // background-color: #4285F4;
    background: blue;
    color: white;
}

.theme-blue li:a {
    background: blue;
    color: white;
}

.theme-blue li {
    background: blue;
    color: white;
}


.outer-container {
    margin-top: 80px;
    margin-bottom: 50px;
    min-height: 1000px;
    width: 95%;
}

.theme-layout {
    box-shadow: 5px 5px 5px gray;
    margin-top: 30px;
    font-size: 95%;
    // color: #8c8c8c;
    color: #333333;
}


.theme-layout-table td, .theme-layout-table th {
    padding: 0;
    line-height: normal;
}

table.theme-layout-table {
    padding: 0;
    margin: 0;
    line-height: normal;
}

.theme-layout .theme-layout-table tbody tr th, .theme-layout .theme-layout-table tbody tr td {
    padding: 5px;
}

.theme-layout-table .th-1, .theme-layout-table .th-2 {
    text-align: center;
}

.theme-layout-table .th-1 {
    font-size: 100%;
    font-weight: bold;
}

.theme-layout-table .th-2 {
    font-size: 100%;
    font-weight: normal;
}

.theme-layout-table .t3 {
    width: 90px;
}

.theme-layout-table .t4 {
    width: 55px;
    font-weight: normal;
}

.theme-layout-table .t5 {
    width: 35px;
}

// column width classes -------
.theme-layout-table .w-lg {
    // min-width: 30px;
    width: 350px;
}

.theme-layout-table .w-md {
    // min-width: 30px;
    width: 160px;
}

.theme-layout-table .w-sm {
    // min-width: 30px;
    width: 115px;
}

.theme-layout-table .w-xsm {
    // min-width: 30px;
    width: 75px;
}

.theme-layout-table .w-xxsm {
    // min-width: 30px;
    width: 30px;
}




// PROFILE STARTS
.profile-container {
    // border: solid 1px #18a3cd;
    border: solid 3px #87dedd;
    border-radius: 6px;
}

.profile-container .th-1, .profile-container .th-2 {
    border: solid 1px #137fa0;
    color: white;
}

// .th-1 [darker shades]  -------
.profile-container .th-1 {
    background-image:linear-gradient(#1798c1, #137fa0);
}

// .th-2 [lighter shades]  -------
.profile-container .th-2 {
    background-image:linear-gradient(#32bde7, #1bb5e4);
}

// .th-2 gradients from a-c  -------
.profile-container .th-2a {
    background-image:linear-gradient(#48c4ea, #32bde7);
}

.profile-container .th-2b {
    background-image:linear-gradient(#32bde7, #1bb5e4);
}

.profile-container .th-2c {
    background-image:linear-gradient(#1bb5e4, #18a3cd);
}
// PROFILE ENDS


// SEARCH STARTS
.search-container {
    border: solid 3px #87dedd;
    border-radius: 6px;
}

.search-container .th-1, .search-container .th-2 {
    border: solid 1px #137fa0;
    color: white;
}

// .th-1 [darker shades]  -------
.search-container .th-1 {
    background-image:linear-gradient(#1798c1, #137fa0);
}

// .th-2 [lighter shades]  -------
.search-container .th-2 {
    background-image:linear-gradient(#32bde7, #1bb5e4);
}

// .th-2 gradients from a-c  -------
.search-container .th-2a {
    background-image:linear-gradient(#48c4ea, #32bde7);
}

.search-container .th-2b {
    background-image:linear-gradient(#32bde7, #1bb5e4);
}

.search-container .th-2c {
    background-image:linear-gradient(#1bb5e4, #18a3cd);
}

.wide-button.blue-button {
    border: solid 2px #87dedd;
    background-image:linear-gradient(#1798c1, #137fa0);
}

.wide-button.blue-button:hover {
    background-image:linear-gradient(#137fa0, #1798c1);
}
// SEARCH ENDS


// NEW FILTER STARTS
.filter-container {
    border: solid 3px #87dedd;
    border-radius: 6px;
}

.filter-container .th-1, .filter-container .th-2 {
    border: solid 1px #268c8a;
    color: white;
}

// .th-1 [darker shades]  -------
.filter-container .th-1 {
    background-image:linear-gradient(#2ca09e, #268c8a);
}

// .th-2 [lighter shades]  -------
.filter-container .th-2 {
    background-image:linear-gradient(#73d9d7, #31b4b2);
}

// .th-2 gradients from a-c  -------
.filter-container .th-2a {
    background-image:linear-gradient(#87dedd, #73d9d7);
}

.filter-container .th-2b {
    background-image:linear-gradient(#73d9d7, #5fd3d1);
}

.filter-container .th-2c {
    background-image:linear-gradient(#5fd3d1, #4bcecb);
}

.wide-button.green-button {
    border: solid 2px #87dedd;
    background-image:linear-gradient(#2ca09e, #268c8a);
}

.wide-button.green-button:hover {
    background-image:linear-gradient(#268c8a, #2ca09e);
}
// NEW FILTER ENDS
















// HORIZONTAL LIST VIEW - PROFILES - Starts
.page-header{
    text-align: center;
}

.section-header{
    text-align: left
}





.list-table th, .list-table td {
    text-align: center;
    border: solid 1px #137fa0;
    font-weight: normal;
    white-space:nowrap;

}

.list-table th {
    text-align: center;
    color: white;
    background-image:linear-gradient(#32bde7, #1bb5e4);
    font-size: 100%;
}

.list-table td {
    font-size: 100%;
}

.list-table .w-md {
    // min-width: 250px;
}






// SUBMIT BUTTON --
.submit-button-area {
    display: inline-block;
    vertical-align: top;
    width: auto;
}


// HORIZONTAL LIST VIEW - PROFILES - Ends

a:hover {
  background: none;
}
table.a:active {
  color: #3333ff;
  }

a.btn{
  color: #fff
}

.wide-button {
    width: 100%;
    padding: 7px;
    margin: 5px 0 10px 0;
    box-shadow: 5px 5px 5px gray;
    font-size: 120%;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.wide-button.blue-button {
    border: solid 2px #87dedd;
    background-image:linear-gradient(#1798c1, #137fa0);
}

.wide-button.blue-button:hover {
    background-image:linear-gradient(#137fa0, #1798c1);
}

.wide-button.green-button {
    border: solid 2px #87dedd;
    background-image:linear-gradient(#2ca09e, #268c8a);
}

.wide-button.green-button:hover {
    background-image:linear-gradient(#268c8a, #2ca09e);
}


@import 'bootstrap-sprockets';
@import 'bootstrap';

.fixed {
    position: fixed;
    z-index: 99;
}

#exclude-col-select {
    height: 30px;
}

.yellow{
    background: #ffffe6;
}


// selectpicker customizing starts
select.selectpicker.select-block {
    color: blue !important;
    background-color: red;
    font-style: italic;
}

.form-control {
    // color: blue !important;
    // background-color: orange;
    // font-style: italic;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 100%;
    text-align: center;
}


.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    li a {
        font-size: 100%;
    }
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 0;
}

// selectpicker customizing starts
.navbar {
    width: 100%;
    text-align: center;
    display:inline-block;
    vertical-align: top;
    float: none;
    // background-color: white;
    background-image:linear-gradient(#ffffff, #e8f8fc);
    border: solid 1px #137fa0;
    border-top: none;
    box-shadow: 5px 5px 5px gray;
    border-radius: 0 0 5px 5px;
    position: fixed;
}

.navbar .nav {
    text-align: center;
    display:inline-block;
    vertical-align: top;
    float: none;
    font-size: 110%;
    font-weight: normal;
}

.navbar .nav li a {
    color: #137fa0;
}

// BUTTONS
.details-btn, .edit-btn, .delete-btn {
    padding: 0;
    a {
        color: white;
        font-weight: bold;
        font-size: 100%;
        padding: 0;
        margin: 0;
    }
}

 .details-btn, .edit-btn {
    background-image:linear-gradient(#1798c1, #137fa0);
 }

 .details-btn:hover, .edit-btn:hover {
    background-image:linear-gradient(#137fa0, #1798c1);
 }

.delete-btn {
    background-image:linear-gradient(#da2531, #ae1e27);
 }

 .delete-btn:hover {
    background-image:linear-gradient(#ae1e27, #da2531);
  }
// BUTTONS

.indicator-th, .indicator-neutral, .indicator-different, .indicator-same {
    padding: 0;
    margin: 0;
}

th.indicator {
    padding: 0;
    margin: 0;
    width: 20px !important;
}

.indicator-th {
    color: #76d3ef;
}

.indicator-neutral {
    // color: #cccccc;  /* gray */
    color: white;
}

.indicator-different {
    color: red;
 }

.indicator-same {
    color: #7fca5d;
    font-size: 0;
    font: hidden;
}

.hidden {
  display:none;
}




// .fa-bell-o {
//   // color: red;
//   background-color: red;
// }

// Indicators -- Starts
// .indicator {
//     padding: 0;
//     color: white;
//     font-weight: bold;
//     font-size: 1.1em;
//     padding: 0;
//     margin: 0;
//     background-color: white;
// }

// .indicator-red {
//    // background-image:linear-gradient(#1798c1, #137fa0);
//    background-color: red;
// }
//
// .indicator-blue:hover {
//    background-image:linear-gradient(#137fa0, #1798c1);
// }

.yes a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    border-radius: 7px;
    border: 1px solid #137fa0;
    padding: 2px 0 2px 0;
    margin: 0;
}

.yes a {
   background-image:linear-gradient(#73d9d7, #268c8a);
   color: white;

}

.yes a:hover {
   background-image:linear-gradient(#268c8a, #73d9d7);
}

.same {
    background-image:linear-gradient(#ebfafa, #afe9e9);
}

.different {
    background-image:linear-gradient(#ffe7e6, #ffa099);
    // background: #ff1100;
}

// Indicators -- Ends



// style="background: green; color: white; border-radius: 5px; a:visited:white;"


.th-middle {
    vertical-align: middle !important;
}

.geo-result-table .w-sm {
    // min-width: 30px;
    width: 70px;
}
