// Place all the styles related to the cores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Adam Trial Starts
.selectpicker {
    color: blue !important;
    background-color: red;
    font-style: italic;
}

.form-control {
    color: blue !important;
    background-color: yellow;
    font-style: italic;
}
// Adam Trial Ends
