// Place all the styles related to the cores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Adam Trial Starts
.selectpicker {
    color: blue !important;
    background-color: red;
    font-style: italic;
}

.form-control {
    color: blue !important;
    background-color: yellow;
    font-style: italic;
}
// Adam Trial Ends


 // View Cores (account-profile-container) - Starts
 .details-btn, .edit-btn, .delete-btn {
     border-radius: 7px;
     padding: 0;
     a {
         color: white;
         font-weight: bold;
         font-size: 1.1em;
         padding: 0;
         margin: 0;
     }
 }

 .details-btn {
     background-image:linear-gradient(#33ff33, #00e600);
 }

 .details-btn:hover {
     background-image:linear-gradient(#00e600, #33ff33);
 }

 .edit-btn {
     background-image:linear-gradient(#ffc966, #e69500);
 }

 .edit-btn:hover {
     background-image:linear-gradient(#e69500, #ffc966);
 }

.delete-btn {
     background-image:linear-gradient(#ff9999, #ff4d4d);
 }

 .delete-btn:hover {
      background-image:linear-gradient(#ff4d4d, #ff9999);
  }

.account-profile-container {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 30px;
}

.account-profile-container td, .account-profile-container th {
    padding: 0;
}

table.account-profile-table{
    margin: 0;
}

// .account-profile-header {
//     color: white;
//     font-weight: bold;
//     background-image:linear-gradient(#a0aeff, #667cf9);
//     text-align: center;
//     border-radius: 5px;
// }

// replacing .account-profile-header (above)
.account-profile-container th {
    text-align: center;
}

.account-profile-container .th-1, .account-profile-container .th-2, .account-profile-container .td-1{
    color: #262626;
    font-weight: bold;
}

.account-profile-container .th-1, .account-profile-container .td-1{
    background-image:linear-gradient(#d9d9d9, #bfbfbf);
    font-size: 120%;
}

.account-profile-container .th-2 {
    background-image:linear-gradient(#f2f2f2, #d9d9d9);
}

.account-profile-container .t3 {
    width: 90px;
}

.account-profile-container .t4 {
    width: 55px;
    font-weight: normal;
}

.account-profile-container .t5 {
    width: 35px;
}
 // View Cores (account-profile-container) - Ends



 // Cores Filter (account-filter-container) - Starts
 .account-filter-container {
     border: 1px solid gray;
     border-radius: 5px;
     box-shadow: 5px 5px 5px gray;
     margin-top: 30px;
 }

 .account-filter-container td, .account-filter-container th {
     padding: 0;
 }

 table.account-filter-table{
     margin: 0;
 }

 // .account-filter-header {
 //     color: white;
 //     font-weight: bold;
 //     background-image:linear-gradient(#a0aeff, #667cf9);
 //     text-align: center;
 //     border-radius: 5px;
 // }

 // replacing .account-filter-header (above)
 .account-filter-container th {
     text-align: center;
 }

 .account-filter-container .th-1, .account-filter-container .th-2, .account-filter-container .td-1{
     color: white;
     font-weight: bold;
 }

 .account-filter-container .th-1, .account-filter-container .td-1{
     background-image:linear-gradient(#cccccc, #a6a6a6);
     font-size: 120%;
 }

 .account-filter-container .th-2 {
     background-image:linear-gradient(#e6e6e6, #cccccc);
 }

 .account-filter-container .t3 {
     width: 90px;
 }

 .account-filter-container .t4 {
     width: 55px;
     font-weight: normal;
 }

 .account-filter-container .t5 {
     width: 35px;
 }

 // Cores Filter (account-filter-container) - Ends
