// Place all the styles related to the cores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Adam Trial Starts
.selectpicker {
    color: blue !important;
    background-color: red;
    font-style: italic;
}

.form-control {
    color: blue !important;
    background-color: yellow;
    font-style: italic;
}
// Adam Trial Ends


.account-profile-container {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.account-profile-container .account-profile-table{
    margin-bottom: 2px;

}

.account-profile-header {
    color: white;
    font-weight: bold;
    background-image:linear-gradient(#a0aeff, #667cf9);
    text-align: center;
    border-radius: 5px;
}
