// Place all the styles related to the criteria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#criteria {
    table {
        border: 2px solid #ddd;
        width: 100%;
    }

    th {
        text-align: center;
    }

    .col {
        width: 12.5%;
        display: table-cell;
    }

}

.red {
    background-color: #ff8080;
}
