<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class=" modal-background">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title text-left">
                <h1>Scraper Module</h1>
                <h3>Detailed Data Associated with Dealer URLs</h3>
                <p>Module is 100% Automated.  Use for verifying additional data not sent to Account Profile.</p>

            </div>
          </div>

          <div class="modal-body">
              <table class="table table-bordered indexer-table no-wrap modal-table">
                  <tr>
                      <th>Stage I</th>
                      <th>Stage II</th>
                      <th>Stage III</th>
                      <th>Stage IV</th>
                  </tr>
                  <tr>
                      <td>1. URL Formatter</td>
                      <td>4. Index Dealer Template</td>
                      <td>7. Scrape Raw Data</td>
                      <td>10. Scored then Routed to Best Match Account Profile</td>
                  </tr>

                  <tr>
                      <td>2. URL Verifier</td>
                      <td>5. Index Staff Page</td>
                      <td>8. Filter & Clean Data</td>
                      <td>11. Merged, Flagged, or Dropped in Accounts</td>
                  </tr>

                  <tr>
                      <td>3. URL Registration Data</td>
                      <td>6. Index Locations Page</td>
                      <td>9. SFDC Data Comparisons</td>
                      <td>12. Migrates to SFDC or Recycles to next best fit.</td>
                  </tr>
              </table>


          <div class="modal-footer">
              <div class="row">
                  <div class="col-md-11 text-left">
                      <p>Go to Account Module to "Merge", "Flag", or "Drop" Scraped Data with SFDC Account ID.</p>
                  </div>

                  <div class="col-md-1">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row text-center pageHeading">
    <div class="">
        <div class="col-md-3">
            <div class="">
                <h1>Scrapers</h1>
            </div>
        </div>
        <div class="col-md-2">
            <div class="modal-btn">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                  Learn More about Scraper Module
                </button>
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>
