<% num = 0 %>
<% @indexers.each do |indexer| %>
    <h2 class="text-center">Scraped Data for: <%= indexer.clean_url %></h2>
    <% num +=1 %>
    <%= render partial: 'indexer_detail', locals: {indexer: indexer, num: num} %>
<% end %>
