<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @exclude_root.term %>
</p>

<%= link_to 'Edit', edit_exclude_root_path(@exclude_root) %> |
<%= link_to 'Back', exclude_roots_path %>
